/* style.css */

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;
}

#container {
  width: 90%;
}

.input-group>.input-group-prepend {
    flex: 0 0 50px;
}
.input-group .input-group-bookend {
    width: 100%;
}
.input-group>.input-group-append {
    flex: 0 0 80px;
}
